* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', 'cursive';
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: #E53170;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.head-text {
    font-weight: lighter;
}

header {
    margin-bottom: 50px;
}

main {
    /* width: calc(900px / 3); */
}

.box {
    width: 380px;
    height: 100px;
    background-color: black;
    float: left;
    margin: 10px;
}

.box img{
    height: 100%;
    margin-right: 15px;
    float: left;
}

.info {
    color: white;
    padding: 5px 0px;
}

.job {
    padding-top: 10px;
    padding-bottom: 10px;
}

.email {
    color: #59AED6;
}